{% load admin_reverse %}<!DOCTYPE html>
<html>
<head>
<title>Rectory Evaluations</title>
</head>

<body>
<h1>Evaluations for {{ student.name }}</h1>

{% regroup evaluables by evaluation_type_title_plural as evaluables_list %}

{% for evaluable_type in evaluables_list %}
<h2>{{ evaluable_type.grouper }}</h2>
<ul>
  {% for evaluable_item in evaluable_type.list %}
   <li><a href="{% url 'courseevaluations_student_survey' %}?auth_key={{student.auth_key}}&amp;evaluable={{evaluable_item.id}}">{{ evaluable_item.student_display }}</a>
   
   {% if perms.courseevaluations.change_evaluable %}
     (<a href="{% admin_url_for evaluable_item %}">Admin link</a>)
   {% endif %}
   
   </li>
  {% endfor %}
</ul>

{% endfor %}

{% if completed_evaluations %}
<h2>Completed Evaluations</h2>
<ul>
  {% for evaluable in completed_evaluations %}
    <li>{{ evaluable.student_display}}

    {% if perms.courseevaluations.change_evaluable %}
      (<a href="{% admin_url_for evaluable %}">Admin link</a>)
    {% endif %}
    
    </li>
  {% endfor %}
</ul>
{% endif %}

</body>

</html>