div#content {
	margin: 0 auto;
	text-align: center;
  display: none;
}

div.dialog {
	text-align: center;
}

div.entry {
	display: inline-block;
	width: 150px;
	margin: 20px;
	vertical-align: top;
}

div.top img {
	max-width: 90px;
	max-height: 90px;
	margin: 0;
	padding: 0;
}

div.entry p {
	text-align: center;
	margin: 10px 0 0 0 0;
}

div.top {
	margin-bottom: 0 0 10px 0;
	height: 100px;
	display: table-cell;
	vertical-align: bottom;
	text-align: center;
	width: 150px;
}

a:link, a:visited {
	color: black;
	text-decoration: none;
}

p#bottomLeftLinks {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

p#bottomRightLinks {
	position: absolute; 
	bottom: 10px;
	right: 10px;
}

p#bottomLeftLinks a, p#bottomRightLinks a {
	color: blue;
	text-decoration: underline;
}
