a, a.visited {
  color: blue;
  text-decoration: none;
}

ul.report_links {
  list-style: none;
}

li.completed_item {
  color: gray;
}

ul.inner_list {
  margin-bottom: 10px;
}

@media print {    
    .noprint, .noprint * {
        display: none !important;
    }
}