{% load staticfiles %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title>Rectory Faculty Icons</title>
		
		<link rel="stylesheet" href="{% static 'paw/jquery-ui/css/smoothness/jquery-ui-1.10.2.custom.css' %}" />
		<link rel="stylesheet" href="{% static 'paw/launcher.css' %}" />
		<script src="{% static 'paw/jquery-ui/js/jquery-1.9.1.js' %}"></script>
		<script src="{% static 'paw/jquery-ui/js/jquery-ui-1.10.2.custom.min.js' %}"></script>
		<script src="{% static 'paw/launcher.js' %}"></script>
	</head>
	
<body>
  <div id="content">
    {% for icon in icons %}
    <div class="entry{% if icon.start_hidden %} startHidden{% endif %}"{% if icon.check_url %} data-check-url="{{ icon.check_url }}"{% endif %}>
      <div class="top">
        <a class="{{ icon.classAttr}}" href="{{ icon.href }}"><img src="{{ icon.display_icon.thumbnail.90x90 }}"></a>
      </div>
      <p>
        <a class="{{ icon.classAttr}}" href="{{ icon.href }}">{{ icon.title }}</a>
      </p>
    </div>
    {% endfor %}
    
    
  
  {% for iconFolder in iconFolders %}
    <div id="{{ iconFolder.uuid }}" class="dialog" title="{{ iconFolder.title }}">
      {% for icon in iconFolder.icons %}
        <div class="entry"{% if icon.check_url %} data-check-url="{{ icon.check_url }}"{% endif %}>
          <div class="top">
            <a class="{{ icon.classAttr}}" href="{{ icon.href }}"><img src="{{ icon.display_icon.thumbnail.90x90 }}"></a>
          </div>
          <p>
            <a class="{{ icon.classAttr}}" href="{{ icon.href }}">{{ icon.title }}</a>
          </p>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
  
  
  
	<p id="bottomLeftLinks" class="dialogHide">
    {% for link in leftText %}
      <a href="{{ link.url}}">{{ link.title }}</a>
    {% endfor %}
  </p>
  
	<p id="bottomRightLinks" class="dialogHide">
    {% for textLink in rightText %}
      <a href="{{ textLink.url}}">{{ textLink.title }}</a>
    {% endfor %}
  </p>
  
</body>
</html>

